@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cairo:wght@600&display=swap');

*{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.banner{
    min-width: 20%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://i.ytimg.com/vi/PCAwJs51D0k/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
}



/*******MENU-TOP***************/

.navbar{
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.navbar h2 img{
    cursor: pointer;
    width: 35%;
    padding: 0;
}
.logo{
    display: none;
}
h2{
    font-family: 'Cairo', sans-serif;
    color: #fff;
}

nav ul li{
    padding-top: 14%;
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    padding-bottom: 20px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 22px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #191919;
    justify-content: center;
    display: flex;
    padding: 1;
    transition: 0.4s;
    box-sizing: border-box;
    box-shadow: #191919;
}
nav.sticky img{
    width: 25%;
}
nav.sticky .logo{
    display: none;
}
nav.sticky h2{
    font-size: 20px;
}
nav.sticky ul li{
    font-size: 12px;
    padding-top: 8.9%;
}


/*******CONTENT-HOME***************/
.content{
    max-width: 50%;
    padding-top: 35%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    left: 4%;
}
.content h1{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 45px;
    margin-top: 80px;
}
.content p{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: bold;
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
    padding-bottom: 5%;
}
.content .cont{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: 100;
    color: #F5F4F2;
}

.col-2{
    flex-basis: 25%;
    min-width: 300px;
}
.col-2 img{
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateY(-50%);
    transition: bottom 1s, left 1s;
}
.col-2:hover .pizzas{
    left: 45%;
}

.rows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
}


/*******MENU-CONTAINER***************/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
.col-4{
    text-align: center;
    box-sizing: border-box;
    box-shadow: #191919;
    border-radius: 10px;
    border: 1px solid #000;
    flex-basis: 20%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 50%;
}
.title{
    text-align: center; 
    margin: 0 auto 80px; 
    position: relative; 
    line-height: 60px; 
    color: #555;
}
.title::after{
    content: ""; 
    background: #101010; 
    width: 110px; 
    height: 5px; 
    border-radius: 5px; 
    position: absolute; 
    bottom: 0; left: 50%; 
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating{
    color: #000;
    opacity: .3;
}
.col-4:hover{
    transform: translateY(-5px);

}



#show-form{
    width: 100px;
    top: 255%;
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 0;
    background-color: thistle;
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-weight: 200;
    cursor: pointer;
    transition: transform 0.3s;
}
#show-form:hover{
    transform: scale(1.1);
}
form{
    padding: 20px;
    height: 490px;
}
.form{
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
}

#Payment{
    width: 60%;
}

select{
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 5px;
}
#Pizza{
    width: 38%;
}
#labelprice{
    padding-left: 0;
    float: left;
    font-size: 15px;
}
.Shipping{
    float: left;
    font-size: 15px;
}
.details{
    float: left;
    font-size: 15px;
}
.pizaprice{
    float: left;
    font-size: 15px;
}
input[type=fee]{
    float: left;
    background: transparent;
    width: 40px;
    margin-left: 34px;
    border: none;
}
input[type=pizzaprice]{
    background: transparent;
    width: 40px;
    margin-left: 47px;
    border: none;
    float: left;
}
input[type=price]{
    background: transparent;
    float: left;
    width: 10%;;
    margin-bottom: 3px;
    margin-left: 40px;
    border: none;
    font-size: 15px;

}
input[type=number]{
    padding: 10px;
    width: 15%;
    text-align: center;
}
.form-element{
    padding: 10px;

}

#Check{
    padding: 10px;
    border: 1px solid;
    border-radius: 0;
    background: skyblue;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
}
#Check:hover{
    background: #fff;
    color: #000;
    transition: 0.3s;
}
.popup .close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: #333;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
}
.popup{
    padding: 100px;
    width: 50%;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: -160%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    background: gray;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    text-align: center;
    border-radius: 30px;
    padding: 0 30px 0 30px;
    color: #333;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
  }
  .popup.active{
    top: 220%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
  }


  #formpizza{
    background: transparent;
    width: 100%;
    margin: 2px;
  }

  #formpizza input[type=text]{
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
    margin-right: 50px;
    text-transform: uppercase;
  }

/*******ABOUUT**************/



.about{
    min-width: 15%;
    text-align: center;
    padding: 65px 0;
    justify-content: center;
    font-weight: 900;
}
.about h4 #pizzax{
    background-color: none;
    color: violet;
    font-weight: 200;
}
.about h4{
    font-size: 35px;
}
.about p{
    padding: 50px;
    justify-content: space-between;
    letter-spacing: 3px;
    line-height: 35px;
    word-spacing: 1px;
}

/*------------contact-------------*/

.contact-order{
    padding: 4px;
    min-width: 15%;
    text-align: center;
    justify-content: center;
    font-weight: 900;
}
.contact-order h5{
    font-size: 35px;
    padding-bottom: 50px;
}
.contact-order h5 #pizzax{
    color: violet;
    font-weight: 400;
}

.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

  .container {
    border-radius: 5px;
    padding: 2px;
  }


  .message{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
    .message .success{
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    font-size: 15px;
    color: #000;
    background: #fff;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
  }

  @keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
  }


  /*-----------------------Contact-----*/

h6{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.contact{
    padding-top: 200px;
    box-sizing: content-box;
}
form{
    box-sizing: border-box;
    background: #555;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin-bottom: 100px;
}

input[type=text], textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    margin-right: 50px;
    text-transform: uppercase;
  }

.contact-text h6{
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.social-links{
    padding: 20px;
    background: #101010;
    text-align: center;
}
.social-links a{
    text-align: center;
    display: inline-block;
    height: 47px;
    width: 47px;
    background-color: rgba(255,255,255,0.2);
    line-height: 40px;
    border-radius: 50%;
    color: skyblue;
    transition: all 0.3s ease; 
}
.social-links i{
    padding-top: 15px;
}
.social-links a:hover{
    color: #24262b;
    background-color: lightseagreen;
}


.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
}
    .hr-text::before {
      content: '';
      background: linear-gradient(to right, #000, #000, #000);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
    }
    .hr-text::after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 0.5em;
      line-height: 1.5em;
      color: #000;
      background-color: #fcfcfa;
    }


    .h-contact {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.2;
        margin-bottom: 20px;
        width: 90%;
        font-size: 15px;
    }
        .h-contact::before {
          content: '';
          background: linear-gradient(to right, #000, #000, #101010);
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 2px;
        }
        .h-contact::after {
          content: attr(data-content);
          position: relative;
          display: inline-block;
          color: black;
          padding: 0 0.5em;
          line-height: 1.5em;
          color: #000;
          background-color: #fcfcfa;
        }
    



/*----------------footer----------------*/
footer{
    padding: 5px;
    background-color: #101010;
    font-weight: 200;
}
.row2{
    display: flex;
    flex-wrap: column;
    padding: 10px;
} 
.outer-footer{
    display: flex;
    flex-direction: row;
}
.social li{
    text-decoration: none;
    list-style-type: none;
    padding: 20px 10px;
    margin: 0;
    transition: transform 0.3s;
}
.social li a{
    text-decoration: none;
    list-style-type: none;
    color: #ccc;
    font-weight: bold;
    opacity: 0.5;
    text-transform: capitalize;
    font-size: 13px;
}
.social li:hover{
    transform: translateY(-2px);
}
.social li a:hover{
    color: skyblue;
}
.outer-footer p{
    text-transform: uppercase;
    bottom: 0;
    font-size: 8px;
    opacity: 0.4;
    padding-top: 4px;
    color: white;
    letter-spacing: 1px;
    word-spacing: 2px;
    float: left;
}
.sociallink{
    display: flex;
    flex-wrap: nowrap;
}



/*******ARROW-ANIMATION***************/
.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-40%, -40%);
}
.arrow .arow{
    display: flex;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid violet;
    border-right: 4px solid violet;
    transform: rotate(45deg);
    margin: -5px;
    animation: scroll 2s infinite;
}
.arrow .arow:nth-child(2){
    animation-delay: -.2s;
}

.arrow .arow:nth-child(3){
    animation-delay: -.4s;
}


@keyframes scroll{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: rotate(45deg) translate(20px, 20px);
    }
}



/*******MOBILE--VIEW***************/
@media only screen and (max-width: 963){
    label{
        font-size: 10px;
    }
    input[type=text]{
        width: 100%;
    }
    .popup{
    width: 100%;
}

}


@media only screen and (max-width: 633px){

    /*******FORM-SUBMIT************/
    .form #submit{
        padding: 10px;
        width: 120px;
        text-align: center;
        text-transform: uppercase;
        margin-left: 65%;
    
    }
}

@media only screen and (max-width: 569px) {

/*********POPUP************/
.form{
    width: 100%;
    border: none;
  }
  .popup{
    width: 100%;
  }
  .popup.active{
    top: 300%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
  }
  #formpizza{
    background: transparent;
    width: 100%;
    margin: 2px;
    border: none;
  }

  #formpizza input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
    margin-right: 50px;
    text-transform: uppercase;
  }



                /*******content************/
                
    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 35px;
        margin-top: 80px;
    }
    .content p{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: bold;
        margin: 10px auto;
        font-weight: 100;
        line-height: 25px;
        font-size: 19px;
        padding-bottom: 5%;
    }
                /*******content-img************/
    .col-2 img{
        width: 45%;
        position: absolute;
        left: 53%;
        bottom: 0;
        transform: translateY(-53%);
        transition: bottom 1s, left 1s;
    }
                /*******menu-image************/
    .navbar h2 img{
        cursor: pointer;
        width: 35%;
        padding: 0;
    }
                /*******menu************/
    h2{
        font-family: 'Open Sans', sans-serif;
        color: #fff;
    }
    .navbar ul li a{
        padding-top: 14%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 10px;
    
    }
}

@media only screen and (max-width: 499px) {
                /*******content************/
    .content{
        text-align: center;
        justify-content: center;
        left: 25%;
        padding: 0;
        margin: 0;
    }
    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 30px;
        margin-top: 45px;
    }
    .content p{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: bold;
        margin: 10px auto;
        font-weight: 100;
        line-height: 25px;
        font-size: 12px;
        padding-bottom: 10%;
    }
                /*******content-image************/
    .col-2 img{
        display: none;
    }
    .col-2:hover .pizzas{
        transition: 0.4s;
    }

                /*******menu-img************/
    .navbar h2 img{
        cursor: pointer;
        width: 19%;
        padding: 0;
    }
                /*******menu************/
    h2{
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
    }
    .navbar ul li a{
        padding-top: 14%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 8px;
    
    }
/*********POPUP************/
.form{
    width: 100%;
    border: none;
  }
  .popup{
    width: 100%;
  }
  .popup.active{
    top: 540%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
  }
  #formpizza{
    background: transparent;
    width: 100%;
    margin: 2px;
    border: none;
  }

  #formpizza input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
    margin-right: 50px;
    text-transform: uppercase;
  }


          /*******contact-FORM-SUBMIT************/
          form{
            width: 100%;
          }
          input[type=text], textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-sizing: border-box;
            margin-bottom: 10px;
            resize: vertical;
            margin-right: 50px;
            text-transform: uppercase;
          }

    form #submit{
        padding: 10px;
        width: 95%;
        text-align: center;
        text-transform: uppercase;
    
    }
                /*******ARROW************/
    .arrow{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-40%, -40%);
    }
    .arrow .arow{
        display: flex;
        width: 10px;
        height: 10px;
        border-bottom: 3px solid violet;
        border-right: 3px solid violet;
        transform: rotate(45deg);
        margin: -5px;
        animation: scroll 2s infinite;
    }
}

@media only screen and (max-width: 464px) {
            /*******NAV LOGO************/
    nav.sticky .logo{
        width: 12%;
    }
        
    .logo{
        display: block;
    }
    .piz{
        display: none;
    }
    .form .order{
        font-size: 19px;
    }
            /*******Nav IMG************/
    .navbar h2 img{
        cursor: pointer;
        width: 20%;
        padding: 0;
    }
            /*******MENU************/
    .navbar ul li a{
        padding-top: 14%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 8px;
    
    }

            /*******contact************/
    h6{
        font-size: 20px;
    }

/*********POPUP************/
.form{
    width: 100%;
    border: none;
  }
  .popup{
    width: 100%;
  }
  .popup.active{
    top: 540%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
  }
  #formpizza{
    background: transparent;
    width: 100%;
    margin: 2px;
    border: none;
  }

  #formpizza input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
    margin-right: 50px;
    text-transform: uppercase;
  }
            /*******content************/
    .content{
        text-align: center;
        justify-content: center;
        left: 25%;
        padding: 0;
        margin: 0;
    }
    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 25px;
        margin-top: 45px;
    }
    .content p{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: bold;
        margin: 10px auto;
        font-weight: 100;
        line-height: 30px;
        font-size: 10px;
        padding-bottom: 10%;
    }

            /*******ARROW************/
    .arrow{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-40%, -40%);
    }
    .arrow .arow{
        display: flex;
        width: 10px;
        height: 10px;
        border-bottom: 3px solid violet;
        border-right: 3px solid violet;
        transform: rotate(45deg);
        margin: -5px;
        animation: scroll 2s infinite;
    }
    footer{
        padding: 5px;
        background-color: #101010;
        font-weight: 200;
        padding-right: 0;
        padding-left: 0;
    }
    .row2{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .social .outer-footer{
        display: flex;
        flex-direction: column;
    
    }
    .outer-footer p{
        text-align: center;
    }
    .outer-footer li a{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10%;
        font-size: 13px;
    }
    .sociallink{
        padding-left: 0;
        padding-right: 0;
        display: flex;
        text-align: center;
    }

    
}

@media only screen and (max-width: 407px) {
                /*******MENU-IMG************/
    .navbar h2 img{
        cursor: pointer;
        width: 20%;
        padding: 0;
    }
    h2{
        font-size: 10px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
    }
                /*******MENU************/
    .navbar ul li a{
        padding-top: 14%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 8px;
    
    }
                /*******content************/
    .content{
        text-align: center;
        justify-content: center;
        left: 25%;
        padding: 0;
        margin: 0;
    }
    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 25px;
        margin-top: 45px;
    }
    .content p{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: bold;
        margin: 10px auto;
        font-weight: 100;
        line-height: 25px;
        font-size: 8px;
        padding-bottom: 10%;
    }

            /*******ABOUT************/
    .about h4{
        font-size: 30px;
    }
    .about p{
        justify-content: space-between;
        letter-spacing: 2px;
        line-height: 35px;
        word-spacing: 1px;
        font-size: 12px;
    }
/*********POPUP************/
.ord{
    display: none;
}
.payment{
    display: none;
}
.form{
    width: 100%;
    border: none;
  }
  .popup{
    width: 100%;
  }
  .popup.active{
    top: 540%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
  }
  select{
    width: 70%;
  }
  #formpizza{
    background: transparent;
    width: 100%;
    margin: 2px;
    border: none;
  }

  #formpizza input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
    margin-right: 50px;
    text-transform: uppercase;
  }
  #Pizza{
    width: 80%;
  }
  #Payment{
    width: 90%;
  }
            /*******ARROW************/

    .arrow{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-40%, -40%);
    }
    .arrow .arow{
        display: flex;
        width: 10px;
        height: 10px;
        border-bottom: 3px solid violet;
        border-right: 3px solid violet;
        transform: rotate(45deg);
        margin: -5px;
        animation: scroll 2s infinite;
    }


            /*******FOOTER************/
    .outer-footer p{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        text-transform: uppercase;
        bottom: 0;
        font-size: 7px;
        color: white;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    /*----------------footer----------------*/
footer{
    padding: 5px;
    background-color: #101010;
    font-weight: 200;
    padding-right: 0;
    padding-left: 0;
}
.row2{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.social .outer-footer{
    display: flex;
    flex-direction: column;

}
.outer-footer p{
    text-align: center;
}
.outer-footer li a{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    font-size: 13px;
}
.sociallink{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    text-align: center;
}

}

@media only screen and (max-width: 393px) {
                    /*******MENU-IMG-TEXT************/
    .navbar h2 img{
        cursor: pointer;
        width: 18%;
        padding: 0;
    }
    h2{
        font-size: 9px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
    }
                    /*******MENU************/
    .navbar ul li a{
        padding-top: 14%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 8px;
    
    }
                /*******CONTENT***********/
    .content{
        left: 4%;
        top: 80%;
    }
    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-weight: 100;
    }
    .content p{
        display: none;
    }

    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 20px;
        margin-top: 80px;
    }
    .content p{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: bold;
        margin: 10px auto;
        font-weight: 100;
        line-height: 25px;
        font-size: 14px;
        padding-bottom: 5%;
    }

                    /*******ABOUT************/
    .about h4{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .about p{
        padding: 10px;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 30px;
        word-spacing: 1px;
        font-size: 10px;
    }

    /*----------------MESSAGE------*/

    .message{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }
        .message .success{
        font-size: 10px;
        color: #04AA6D;
        position: absolute;
        animation: buttons .4s linear;
        display: none;
      }


/*********POPUP************/
      .form{
        width: 100%;
        border: none;
      }
      .popup{
        width: 100%;
      }
      .popup.active{
        top: 480%;
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
        transition: top 0ms ease-in-out 0ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 20ms ease-in-out 0ms;
      }
      #formpizza{
        background: transparent;
        width: 100%;
        margin: 2px;
        border: none;
      }
    
      #formpizza input[type=text]{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box;
        margin-bottom: 5px;
        resize: vertical;
        margin-right: 50px;
        text-transform: uppercase;
      }
      #Pizza{
        width: 80%;
      }
      #Payment{
        width: 90%;
      }

                /*********ARROW************/
    .arrow{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-40%, -40%);
    }
    .arrow .arow{
        display: flex;
        width: 10px;
        height: 10px;
        border-bottom: 3px solid violet;
        border-right: 3px solid violet;
        transform: rotate(45deg);
        margin: -5px;
        animation: scroll 2s infinite;
    }

                    /*******FOOTER***********/
    .outer-footer p{
        text-transform: capitalize;
        bottom: 0;
        font-size: 7px;
        color: white;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}

@media only screen and (max-width: 367px) {
                    /*******MENU-LOGO************/
    nav.sticky .logo{
        width: 12%;
    }

    .navbar ul li a{
        padding-top: 14%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 8px;
    
    }
                    /*******CONTENT************/
    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 20px;
        margin-top: 80px;
    }
    .content p{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: bold;
        margin: 10px auto;
        font-weight: 100;
        line-height: 25px;
        font-size: 14px;
        padding-bottom: 5%;
    }
                    /*******CONTENT-IMG************/
    .col-2 img{
        width: 50%;
        position: absolute;
        left: 20%;
        top: 90%;
        bottom: 0;
        transform: translateY(-50%);
        transition: bottom 1s, left 1s;
    }
    .col-2:hover .pizzas{
        top: 80%;
        left: 10%;
    }

                    /*******ABOUT************/
    .about h4{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .about p{
        padding: 10px;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 30px;
        word-spacing: 1px;
        font-size: 9px;
    }
/*********POPUP************/
.form{
    width: 100%;
    border: none;
  }
  .popup{
    width: 100%;
  }
  .popup.active{
    top: 485%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
  }
  #formpizza{
    background: transparent;
    width: 100%;
    margin: 2px;
    border: none;
  }

  #formpizza input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    resize: vertical;
    margin-right: 50px;
    text-transform: uppercase;
  }


                    /*******ARROWW************/
    .arrow{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-40%, -40%);
    }
    .arrow .arow{
        display: flex;
        width: 10px;
        height: 10px;
        border-bottom: 3px solid violet;
        border-right: 3px solid violet;
        transform: rotate(45deg);
        margin: -5px;
        animation: scroll 2s infinite;
    }
                    /*******FOOTER************/
    .outer-footer p{
        text-transform: uppercase;
        bottom: 0;
        font-size: 7px;
        color: white;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}

@media only screen and (max-width: 353px) {
                    /*******MENU LOGO************/
    nav.sticky .logo{
        width: 10%;
    }
    .navbar ul li a{
        padding-top: 14%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 8px;
    
    }
                /*******CONTENT***********/
    .content h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 30px;
        margin-top: 80px;
    }
    .content p{
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: bold;
        margin: 10px auto;
        font-weight: 100;
        line-height: 25px;
        font-size: 10px;
        padding-bottom: 5%;
    }
                    /*******CONTEMT-IMG***********/
    .col-2 img{
        width: 50%;
        position: absolute;
        left: 25%;
        bottom: 0;
        transform: translateY(-50%);
        transition: bottom 1s, left 1s;
    }
    .col-2:hover .pizzas{
        left: 20%;
    }

                    /*******ABOUT************/

    .about h4{
        font-size: 30px;
        padding-bottom: 10px;
    }
    .about p{
        padding: 10px;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 30px;
        word-spacing: 1px;
        font-size: 9px;
    }

                /*******ARROW*************/
    .arrow{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-40%, -40%);
    }
    .arrow .arow{
        display: flex;
        width: 10px;
        height: 10px;
        border-bottom: 3px solid violet;
        border-right: 3px solid violet;
        transform: rotate(45deg);
        margin: -5px;
        animation: scroll 2s infinite;
    }

                    /*******FOOTER***************/
    .outer-footer p{
        text-transform: uppercase;
        bottom: 0;
        font-size: 7px;
        color: white;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}
